@font-face {
  font-family: monserratbold;
  src: url("../fonts/Montserrat-Bold.otf") format("opentype");
}

@font-face {
  font-family: monserratsemibold;
  src: url("../fonts/Montserrat-SemiBold.otf") format("opentype");
}

@font-face {
  font-family: monserratregular;
  src: url("../fonts/Montserrat-Regular.otf") format("opentype");
}

.navbar-default {
  background: #1d1d1d;
  font-family: monserratregular;
}

.navbar {
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
}

.navbar-header {
  height: 145px;
}

.navbar-header .navbar-brand {
  height: 65px;
}

.navbar-brand {
  height: auto;
  padding-top: 25px;
}

.navbar-brand > img {
  height: 75px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-right {
  width: 20%;
  padding-top: 10px;
}

.navbar-default li.dropdown-language {
  margin-top: 19px;
  text-align: right;
  width: 100%;
}

.navbar-default li.dropdown-language a {
  color: #8d8d8d;
}

.navbar-default li.dropdown-language .caret {
  color: #edc02f;
}

.navbar-default li.dropdown-user {
  margin-top: 0;
  border: solid 1px #8d8d8d;
  border-radius: 3px;
  padding-top: 0;
  text-align: right;
  width: 100%;
}

.navbar-default li.dropdown-user a {
  color: #FFF;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.navbar-default li.dropdown-user .caret {
  color: #edc02f;
}

.money-text {
  color: #edc02f;
}

.header-links {
  background-color: #e3b121;
  color: #FFF;
  font-family: monserratbold;
  height: 80px;
  opacity: 0.9;
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-links .btn-primary {
  background-color: #000;
  border-color: #000;
  border-radius: 5px;
  padding: 14px 20px;
  text-transform: uppercase;
}

.header-links .list-inline {
  margin-top: 10px;
  margin-bottom: 10px;
}

.language-select {
  text-align: right;
}

form.navbar-right {
  font-family: monserratregular;
  padding-top: 30px;
  width: 45%;
}

form.navbar-right a {
  color: #edbb1a;
}

form.navbar-right a#language-select {
  color: #878787;
}

form.navbar-right a#language-select .caret {
  color: #edbb1a;
}

form.navbar-right .form-control {
  background-color: #353535;
  border-color: #353535;
  color: #8d8d8d;
}

form.navbar-right .form-group {
  margin-top: 10px;
}

form.navbar-right #submit {
  margin-top: 10px;
  background: #e8b61e;
  border-color: #e8b61e;
  border-radius: 5px;
  color: #FFF;
  height: 35px;
  width: 58px;
}

form.navbar-right ul {
  list-style-type: none;
}

form.navbar-right .dropdown {
  list-style-type: none;
}

.home-background {
  background: url("../img/index/background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 900px;
  width: 100%;
}

.home-video {
  height: 700px;
  text-align: center;
}

.home-video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  margin-top: 30px;
  overflow: hidden;
}

.home-video iframe, .home-video object, .home-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
}

.home-overview {
  margin-top: -270px;
  text-align: center;
}

.home-overview h1 {
  color: #FFF;
  font-family: monserratregular;
  margin-top: 5px;
}

.steps-fix {
  margin-top: -145px;
  margin-bottom: 80px;
}

.steps-fix .steps {
  background-color: #FFF;
  border-radius: 5px;
  height: 290px;
  padding: 30px 30px;
  text-align: center;
  width: 100%;
  -webkit-box-shadow: 0px 6px 13px -4px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 6px 13px -4px rgba(0, 0, 0, 0.57);
  box-shadow: 0px 6px 13px -4px rgba(0, 0, 0, 0.57);
}

.steps-fix .steps img {
  height: 80px;
}

.steps-fix h2 {
  color: #000;
  font-family: monserratregular;
}

.home-redirections {
  font-family: monserratbold;
  margin-top: 20px;
  text-align: center;
}

.home-redirections .btn-started {
  background-color: #edbb1a;
  border-color: #edbb1a;
  border-radius: 5px;
  color: #FFF;
  height: 50px;
  padding: 12px;
  width: 47%;
}

.home-redirections .btn-invite {
  background-color: #000;
  border-color: #000;
  border-radius: 5px;
  color: #FFF;
  height: 50px;
  padding: 12px;
  width: 15%;
}

#footer {
  background-color: #1d1d1d;
  margin-top: 80px;
}

footer {
  bottom: 0;
  height: 200px;
  position: relative;
  width: 100%;
}

footer .footer-logo {
  float: left;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .footer-logo img {
  height: 75px;
}

footer .list-group {
  height: 100%;
  padding: 50px 0;
}

footer .list-group-item {
  background: transparent;
  border: none;
  padding: 7px;
}

footer .list-group-item a {
  color: #828282;
  font-family: monserratregular;
}

footer .footer-icon {
  background-color: #edbb1a;
  border-radius: 50%;
  color: #000 !important;
}

footer .list-group-item .footer-icon.footer-icon-facebook {
  padding: 17px 16px 11px 15px;
}

footer .list-group-item .footer-icon.footer-icon-twitter {
  padding: 17px 11px 11px 11px;
}

footer .list-group-item .footer-icon.footer-icon-youtube {
  padding: 18px 9px 10px 11px;
}

footer .winner a {
  color: #FFF;
  font-family: monserratregular;
}

.playnow .home-background {
  height: 800px;
}

.playnow #footer {
  margin-top: 0;
}

.ui-buttonset .ui-button {
  background-color: #000;
  background-image: none;
  border-color: #000;
  border-radius: 5px;
  color: #FFF;
  margin-left: 0;
  margin-right: -.3em;
  width: 100%;
  height: 75px;
  font-size: 30px;
  font-family: monserratregular;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

#betting {
  margin-top: 40px;
}

.button-fix {
  margin-top: 80px;
  text-align: center;
}

.button-fix .btn-default {
  background-color: #edbb1a;
  border-color: #edbb1a;
  color: #FFF;
  height: 75px;
  font-size: 30px;
  font-family: monserratregular;
  text-align: center;
  width: 30%;
}

.ui-buttonset .ui-button.ui-state-active {
  background-color: #edbb1a;
  border-color: #edbb1a;
  color: #000;
  background-image: none;
  font-family: monserratregular;
  font-size: 30px;
}

.progress, .current-jackpot {
  background-color: #1d1d1d;
  height: 250px;
}

.progress-bar {
  background-color: #262626;
}

.participants-overview, .jackpot-overview {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px;
  position: absolute;
  top: 0;
  width: 100%;
}

.participants-overview .participants-img img, .jackpot-overview .participants-img img {
  margin-top: -20px;
}

.participants-overview .participants-number, .participants-overview .jackpot-number, .jackpot-overview .participants-number, .jackpot-overview .jackpot-number {
  font-family: monserratbold;
  margin-left: 50px;
  margin-top: -36px;
  text-align: center;
}

.participants-overview .participants-number h2, .participants-overview .jackpot-number h2, .jackpot-overview .participants-number h2, .jackpot-overview .jackpot-number h2 {
  color: #edbb1a;
  font-size: 60px;
  margin: 0;
}

.participants-overview .participants-number h3, .participants-overview .jackpot-number h3, .jackpot-overview .participants-number h3, .jackpot-overview .jackpot-number h3 {
  color: #FFF;
  font-family: monserratregular;
  margin-bottom: 0;
}

.participants-overview .jackpot-number, .jackpot-overview .jackpot-number {
  margin-top: -26px;
}

#playnow-form {
  padding: 40px 0;
}

#register #footer {
  margin-top: 0;
}

#register .register-background {
  background: url("../img/register/register-background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  height: 900px;
  background-size: cover;
}

#register .register-background .register-calltoaction {
  text-align: center;
  margin-top: 80px;
}

#register .register-background .register-calltoaction h2 {
  color: #FFF;
  font-family: monserratregular;
}

#register .register-background .register-calltoaction h1 {
  color: #FFF;
  font-family: monserratbold;
  margin: 0;
}

#register .form-left, #register .form-right {
  background: rgba(255, 255, 255, 0.999);
  border-radius: 5px;
  margin-top: 40px;
  opacity: 0.9;
  padding: 20px;
}

#register .intl-tel-input, #register .country-select {
  width: 100%;
}

#register form {
  color: #000;
  font-family: monserratregular;
}

#register form label {
  font-size: 12px;
  margin-top: 7px;
  float: right;
}

#register form label span {
  color: red;
}

#register form .form-header {
  background-color: #494746;
  border-radius: 5px;
}

#register form .form-header h2 {
  color: #FFF;
  font-family: monserratbold;
  font-size: 18px;
  padding: 15px;
}

#register form .disclaimer {
  float: right;
  margin-top: 40px;
}

#register form .disclaimer span {
  color: red;
}

#register form .terms {
  color: #FFF;
  margin-top: 20px;
  text-align: center;
  width: 100%;
}

#register form .terms a {
  color: #edbb1a;
  font-family: monserratregular;
  font-size: 16px;
  text-decoration: none;
  width: 30%;
}

#register form .terms a:hover {
  color: #FFF;
}

#register form .terms label {
  float: none;
  font-size: 16px;
}

#register form .terms input[type=checkbox], #register form .terms input[type=radio] {
  display: inline;
  margin-left: -22px;
  margin-top: -6px;
  position: absolute;
  width: 17px;
}

#register form .submit-register {
  font-family: monserratregular;
  text-align: center;
  margin-top: 40px;
  width: 100%;
}

#register form .submit-register .btn-default {
  background-color: #edbb1a;
  border-color: #edbb1a;
  color: #FFF;
  font-size: 20px;
  height: 50px;
  width: 20%;
}

.account-background {
  background-color: #f2f2f2;
  background-image: none;
}

.account-title {
  color: black;
  font-family: monserratbold;
  margin-top: 60px;
  text-transform: uppercase;
}

.fa-user {
  letter-spacing: 17.5px;
}

.account-container {
  background-color: white;
  padding: 20px;
  height: 500px;
  width: 100%;
}

.account-section {
  border-bottom: 1px solid rgba(124, 124, 124, 0.5);
  color: #edbb1a;
  font-family: monserratregular;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.nav-pills {
  background-color: #1d1d1d;
  border-radius: 5px;
  font-family: monserratregular;
  padding: 20px;
}

.nav-pills a {
  color: #FFF;
}

.nav > li > a {
  padding: 5px 0;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
  background-color: #1d1d1d;
  color: #edc02f;
}

.nav > li > a:hover {
  background: none;
}

.account-section-separator {
  margin-top: 15px;
}

.nav-stacked > li.account-section-separator {
  margin-top: 15px;
}

.tab-content > .tab-pane {
  margin-left: 40px;
}

.account-subtitle, .account-current-games {
  color: #edc02f;
  font-family: monserratregular;
  text-transform: uppercase;
}

.account-number, .account-balance {
  font-size: 20px;
  font-family: monserratregular;
}

.account-next-game {
  color: #f26522;
  font-family: monserratregular;
}

.table-striped td {
  color: #CCCCCC;
}

.table-striped td a {
  text-decoration: none;
}

.table-striped td a:hover {
  color: #edc02f;
}

.navbar-default li.dropdown-user a:hover {
  color: #edc02f;
}

.select-team-title {
  color: black;
  font-family: monserratbold;
  margin-top: 60px;
  text-transform: uppercase;
}

.btn.next, .btn.prev {
  background: #edc02f;
  color: #FFF;
  height: 85px;
  padding: 26px;
  width: 80px;
}

.customNavigation {
  text-align: center;
}

.customNavigation span {
  color: #FFF;
  font-family: monserratregular;
  font-size: 20px;
  text-transform: uppercase;
}

.btn.next {
  float: right;
}

.btn.prev {
  float: left;
}

.select-team-header {
  border-radius: 5px;
  background: #1d1d1d;
  height: 86px;
  padding: 24px;
}

.select-team-container {
  background: #FFF;
  border-radius: 5px;
  /*height: 95%;*/
  height: 1000px;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.75);
  margin-bottom: 35px;
}

.playnow .home-background.teams-background {
  background-color: #f2f2f2;
  background-image: none;
  height: auto;
}

.teams-fix {
  margin-bottom: 80px;
}

.barclays-brand {
  border: 1px solid #f2f2f2;
  padding: 20px;
  text-align: center;
}

.cc-selector input {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.cc-selector-2 input {
  position: absolute;
  z-index: 999;
}

.ars {
  background-image: url(../img/teams/badges-50-sprite.png);
  background-position: -50px -50px;
}

.bou {
  background-image: url(../img/teams/badges-50-sprite.png);
  background-position: -200px -200px;
}

.bur {
  background-image: url(../img/teams/badges-50-sprite.png);
  background-position: -50px -250px;
}

.che {
  background-image: url(../img/teams/badges-50-sprite.png);
  background-position: -300px 0;
}

.cry {
  background-image: url(../img/teams/badges-50-sprite.png);
  background-position: -300px -100px;
}

.eve {
  background-image: url(../img/teams/badges-50-sprite.png);
  background-position: -200px -300px;
}

.hul {
  background-image: url(../img/teams/badges-50-sprite.png);
  background-position: -350px -300px;
}

.lei {
  background-image: url(../img/teams/badges-50-sprite.png);
  background-position: 0 0;
}

.liv {
  background-image: url(../img/teams/badges-50-sprite.png);
  background-position: -400px -100px;
}

.mci {
  background-image: url(../img/teams/badges-50-sprite.png);
  background-position: -400px -350px;
}

.mun {
  background-image: url(../img/teams/badges-50-sprite.png);
  background-position: -300px -400px;
}

.mid {
  background-image: url(../img/teams/badges-50-sprite.png);
  background-position: -100px -400px;
}

.sou {
  background-image: url(../img/teams/badges-50-sprite.png);
  background-position: -500px -400px;
}

.stk {
  background-image: url(../img/teams/badges-50-sprite.png);
  background-position: -50px -500px;
}

.sun {
  background-image: url(../img/teams/badges-50-sprite.png);
  background-position: -100px -500px;
}

.swa {
  background-image: url(../img/teams/badges-50-sprite.png);
  background-position: -150px -500px;
}

.tot {
  background-image: url(../img/teams/badges-50-sprite.png);
  background-position: -250px -500px;
}

.wat {
  background-image: url(../img/teams/badges-50-sprite.png);
  background-position: -400px -500px;
}

.wba {
  background-image: url(../img/teams/badges-50-sprite.png);
  background-position: -450px -500px;
}

.whu {
  background-image: url(../img/teams/badges-50-sprite.png);
  background-position: -500px -500px;
}

.cc-selector-2 input:active + .drinkcard-cc, .cc-selector input:active + .drinkcard-cc {
  opacity: .9;
}

.cc-selector-2 input:checked + .drinkcard-cc, .cc-selector input:checked + .drinkcard-cc {
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
}

.drinkcard-cc {
  cursor: pointer;
  background-repeat: no-repeat;
  display: inline-block;
  height: 50px;
  width: 50px;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  -webkit-filter: brightness(0.8) grayscale(1) opacity(1);
  -moz-filter: brightness(0.8) grayscale(1) opacity(1);
  filter: brightness(0.8) grayscale(1) opacity(1);
}

.drinkcard-cc:hover {
  -webkit-filter: brightness(1.2) grayscale(0.5) opacity(0.9);
  -moz-filter: brightness(1.2) grayscale(0.5) opacity(0.9);
  filter: brightness(1.2) grayscale(0.5) opacity(0.9);
}

/* Extras */
a:visited {
  color: #888;
}

a {
  color: #444;
  text-decoration: none;
}

p {
  margin-bottom: .3em;
}

.cc-selector-2 input {
  margin: 5px 0 0 12px;
}

.cc-selector-2 label {
  margin-left: 7px;
}

span.cc {
  color: #6d84b4;
}

.match-date {
  float: right;
  font-family: monserratregular;
  font-size: 20px;
}

.date-fix {
  margin-top: 10px;
}

.item {
  margin-top: 40px;
}

.team-name, .vs {
  font-family: monserratbold;
  font-size: 14px;
}

.vs {
  left: 92px;
  position: absolute;
  top: 10px;
}

.team-left {
  float: right;
  margin-top: 5px;
}

.team-right {
  float: left;
  margin-top: 8px;
}

.left-team {
  left: 21px;
  position: absolute;
}

.right-team {
  right: 27px;
  position: absolute;
}

.flag-fix {
  text-align: center;
}

.item-fix {
  margin-top: 30px;
}

.table-leaderboard {
  border-radius: 5px;
  color: #FFF;
  background-color: #21204a;
  font-family: monserratregular;
  height: 775px;
  margin-top: 20px;
}

.table-leaderboard .table-header {
  text-transform: uppercase;
}

.table-leaderboard .table-row-header {
  border-bottom: 1px solid rgba(242, 242, 242, 0.2);
  height: 56px;
}

.table-leaderboard .table-data {
  padding: 16px 0 0 7px;
}

.table-leaderboard .table-data span {
  font-family: monserratregular;
  font-size: 12px;
}

.table-leaderboard .top-team {
  background-color: #20a5de;
  height: 46px;
}

.table-leaderboard .table-border {
  border-right: 1px solid rgba(242, 242, 242, 0.2);
}

.table-leaderboard .top-club {
  background-color: #20a5de;
  border-radius: 8px;
  height: 32px;
  width: 90%;
  position: absolute;
  opacity: 1;
  margin-top: 62px;
  margin-left: 14px;
}

.table-leaderboard .champions-club {
  background-color: #39386c;
  border-radius: 8px;
  height: 98px;
  width: 90%;
  position: absolute;
  opacity: 1;
  margin-top: 99px;
  margin-left: 14px;
}

.table-leaderboard .decline-club {
  background-color: #39386c;
  border-radius: 8px;
  height: 97px;
  width: 90%;
  position: absolute;
  opacity: 1;
  margin-top: 657px;
  margin-left: 14px;
}

.table-players-data {
  height: 30px;
  padding: 25px;
}

#table-players {
  background: #FFF;
  border: solid 1px #FFF;
  border-radius: 5px;
  height: auto;
  margin-bottom: 40px;
  padding: 40px 38px;
  -webkit-box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.75);
}

#table-players .col-md-1, #table-players .col-md-3, #table-players .col-md-12 {
  padding-right: 0;
  padding-left: 0;
}

.table-players-data {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px dashed #d5d5d5;
}

.table-players-data img {
  padding: 20px 10px;
}

.table-players-data span {
  color: #000;
  font-family: monserratregular;
  padding-left: 10px;
}

.table-players-data .leaderboard-icon {
  margin-left: -109px;
}

.table-players-data-top .player-icon {
  margin-left: 0px;
}

.table-players-data-top .leaderboard-icon {
  margin-left: -82px;
}

.table-players-data-top span {
  margin-left: -10px;
}

.players-table-border {
  border: 1px dashed #d5d5d5;
  border-left: 0;
  border-top: 0;
}

.short {
  display: none !important;
}

.pager li > a {
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 19px;
  display: inline;
  font-family: monserratregular;
  margin-right: 8px;
  padding: 10px 17px;
  text-align: center;
}

.pager li > a:hover {
  background-color: #000;
  border: 1px solid #000;
  border-radius: 19px;
  color: #FFF;
  display: inline;
  font-family: monserratregular;
  margin-right: 8px;
  padding: 10px 17px;
  text-align: center;
}

.pager li > a.active {
  background-color: #000;
  border: 1px solid #000;
  border-radius: 19px;
  color: #FFF;
  display: inline;
  font-family: monserratregular;
  margin-right: 8px;
  padding: 10px 17px;
  text-align: center;
}

#players-paginator {
  background-color: #d5d5d5;
  border-radius: 5px;
  height: 100px;
}

#players-paginator ul {
  float: right;
  padding: 40px;
  position: relative;
  right: 240px;
  width: 100px;
}

#players-paginator span {
  top: 34px;
  right: 240px;
  font-family: monserratregular;
  font-size: 20px;
  position: relative;
}

#dropdown-test{
  background-color: #e7e7e7;  
}

#dropdown-test li a{
  color: #555;
}

#dropdown-test li a:hover{
  color: #edc02f;
}
