@font-face {
    font-family: monserratbold;
    src: url('../fonts/Montserrat-Bold.otf') format("opentype");
}
@font-face {
    font-family: monserratsemibold;
    src: url('../fonts/Montserrat-SemiBold.otf') format("opentype");
}
@font-face {
    font-family: monserratregular;
    src: url('../fonts/Montserrat-Regular.otf') format("opentype");
}